<p id="notice"><%= notice %></p>

<h1>Todos</h1>
<%= link_to '<button type="button" class="btn btn-primary">Add new Todo</button>
'.html_safe, new_todo_path %>
<br>
 
  <% @todos.each do |todo|%>
   
    <h3 class="col-12 alert alert-primary text-center">
      <%= todo.title %>
      <%= todo.body %>
      <%= todo.is_active %>
      <%= link_to '<i class="fas fa-pencil-alt ml-3"></i>'.html_safe, edit_todo_path(todo) %>
     
    </h3>
          <%= link_to '<i class="fas fa-check ml-3"></i>'.html_safe, todo, method: :update, data: { confirm: 'Are you sure?' } %>

     <%= link_to '<i class="fas fa-trash-alt ml-3"></i>'.html_safe, todo, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <% end %>

 